#loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#loader {
  border: 2px solid white;
  border-top: 2px solid transparent;
  border-radius: 50%;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

.message {
  text-align: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}