@import '../../utils/styles';

.address-card {
  width: 500px;
  height: 75px;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  border-radius: 15px;
  background-color: #556799;
  box-shadow: 0px 0px 5px 2px $shadow-color;
}

.address-card-info {
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.address-card-name {
  font-size: 18px;
  font-weight: 700;
}

img {
  border-radius: 10px;
  margin-right: 12px;
}
