/** Style shared by multiple components */

$shadow-color: #223;

.container {
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  position: fixed;
  width: 100vw;
  height: 50px;
  top: 0;
  background-color: #222;
  box-shadow: 0px 0px 5px 2px $shadow-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > * {
    margin: 0 100px;
  }
}

a {
  color: white;
  text-decoration: none;
}
